body {
  background: #f6fff8;
  
}
h2 {
  color: #5b2333;
}
.hotpink-header {
  color: #ff69b4;
}
.mainpage {
  background: rgb(202,230,226);
background: linear-gradient(0deg, rgba(202,230,226,1) 64%, rgba(94,158,172,1) 100%);
  max-width: 1000px;
  border: 10px solid #6b9080;
  border-radius: 16px;
  margin: 0 auto;
  padding: 50px solid #ff69b4;
  overflow: auto;
  box-sizing: border-box;
}
#shailushay_img {
  padding: 30px;
  width: 200px;
  height: 200px;
}
.navigation {
  background: #a4c3b2;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
}
.notes {
  margin: 30px;
}
.list {
  list-style: none;
}
.table {
  width: 100%
}